<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BasicSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SimpleTimerKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SimpleTimerTodayExtenstion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D63417CA1A6CE41E001EF616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D63417E31A6CE41E001EF616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6AD7FFC1AA024ED001D3CDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6AD80141AA04E06001D3CDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6AD801E1AA04E06001D3CDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
